%p
  Hey, yo

%div
  - @tracks.each do |track|
    %div
      %span= " Title: #{track.title} "
      %span= " Artist: #{track.user.username} "
      %span= " Bpm: #{track.bpm} "
      %span= " Downloadable: #{track.downloadable} "
      %span= " Streamable: #{track.streamable} "
      %span= " Key: #{track.key_signature} "
      %span= " Purchase: #{track.purchase_url} "
