%div.search-container
  .search-console
    %span.search-number-of-results
      %p= " Number of Search Results: #{@tracks.size} "
    %span.search-spinner-container
      =image_tag("spin.png", class: "spinner")
  %table
    %thead
      %tr
        %th.search-column-title-head Title
        %th.search-column-artist-head Artist
        %th.search-column-bpm-head Bpm
        %th.search-column-key-head Key
        %th.search-column-buttons-head
    %tbody.search-results-body
      - @tracks.each do |track|
        %tr.search-result-row{:data => {:title => track.title, :artist => track.user.username, :bpm => ("%g" % track.bpm), :key => track.key_signature,
          :download_url => track.download_url, :purchase_url => track.purchase_url, :stream_url => track.stream_url, :image => track.artwork_url,
          :waveform => track.waveform_url, :duration => (track.duration / 1000)}}
          %td.search-column-title= track.title
          %td.search-column-artist= track.user.username
          %td.search-column-bpm= "%g" % track.bpm
          %td.search-column-key= track.key_signature
          %td.search-column-buttons
            - if track.download_url
              %a{:href => track.download_url}
                =image_tag("down-arrow.png", class: "search-result-buttons")
            - if track.purchase_url
              %a{:href => track.purchase_url}
                =image_tag("dollar-sign.png", class: "search-result-buttons")
            %a{:href => "#"}
              =image_tag("plus-sign.png", class: "search-result-buttons")
            - if track.streamable
              =image_tag("turntable-left.png", class: "search-result-buttons turntable-loader turntable-loader-left")
              =image_tag("turntable-right.png", class: "search-result-buttons turntable-loader turntable-loader-right")
  .dj-coffin
    .dj-coffin-separator
    .turntable.turntable-left
      .turntable-top-panel
        =image_tag("track-image-default.png", class: "turntable-track-image")
        %span.turntable-track-info
          %div.turntable-track-info-upper
            %span.turntable-track-title
              %p= "This is the title"
            %span.turntable-track-bpm
              %p= "120 bpm"
          %div.turntable-track-info-lower
            %span.turntable-track-artist
              %p= "This is the artist"
            %span.turntable-track-key
              %p= "Key: E"
      .turntable-bottom-panel
        .turntable-time-wave-container
          .time-elapsed.time-elapsed-left
            %small= "00:00"
            %small= " / "
            %small= "00:00"
          .turntable-waveform-interface{:data => {:side => "left"}}
            .turntable-waveform-progress
            =image_tag("waveform-default.png", class: "turntable-track-waveform-image")
        .turntable-controls
          =image_tag("play-button.png", class: "turntable-play-button")
          =image_tag("pause-button.png", class: "turntable-pause-button")
    .mixer
    .turntable.turntable-right
      .turntable-top-panel
        =image_tag("track-image-default.png", class: "turntable-track-image")
        %span.turntable-track-info
          %div.turntable-track-info-upper
            %span.turntable-track-title
              %p= "This is the title"
            %span.turntable-track-bpm
              %p= "120 bpm"
          %div.turntable-track-info-lower
            %span.turntable-track-artist
              %p= "This is the artist"
            %span.turntable-track-key
              %p= "Key: E"
      .turntable-bottom-panel
        .turntable-time-wave-container
          .time-elapsed.time-elapsed-right
            %small= "00:00"
            %small= " / "
            %small= "00:00"
          .turntable-waveform-interface{:data => {:side => "right"}}
            .turntable-waveform-progress
            =image_tag("waveform-default.png", class: "turntable-track-waveform-image")
        .turntable-controls
          =image_tag("play-button.png", class: "turntable-play-button")
          =image_tag("pause-button.png", class: "turntable-pause-button")
    .dj-coffin-separator
